<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="span3">
        <form novalidate class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="rows">Rows</label>
                <div class="controls">
                    <input type="text" id="rows" ng-model="rows" class="input-mini"
                           ng-disabled="isRunning"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="columns">Columns</label>
                <div class="controls">
                    <input type="text" id="columns" ng-model="columns"
                           class="input-mini" ng-disabled="isRunning"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="nbSteps">Batch size</label>
                <div class="controls">
                    <input type="text" id="nbSteps" ng-model="nbSteps"
                           class="input-mini" ng-disabled="isRunning"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="initializer">Initializer</label>
                <div class="controls">

                    <select id="initializer" ng-model="initializer" class="input-small" ng-disabled="isRunning">
                        <option ng-repeat="i in initializers">{{i}}</option>
                    </select>

                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                <input type="button" class="btn" ng-click="init()" value="Initialize" ng-disabled="isRunning"/>

                    <div class="btn-group">
                        <a class="btn" ng-click="next()" ng-disabled="isRunning" value="Next">
                            <i class="icon-step-forward"></i>
                        </a>
                        <a class="btn" ng-click="autoNext()">
                            <i class="{{playIcon}}"></i>
                        </a>
                        <a class="btn" ng-click="nextByBatch()" ng-disabled="isRunning">
                            <i class="icon-step-forward"></i>Batch
                        </a>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="span9">

        <table class="table_area">
            <tr ng-repeat="r in area">
                <td ng-repeat="c in r" class="{{c.status}}">&nbsp;</td>
            </tr>
        </table>

    </div>

</div>
